<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5"
                            aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" style="font-size: 2em; font-family: 'Bradley Hand ITC',monospace; font-weight: bold; color: #4682B4; text-shadow: 0.1em 0.1em 0.2em #808080; ">Welcome to Node JS Market</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                        <p class="navbar-text navbar-right" style="font-family: monospace">Welcome, {{username}}!
                            <a href="javascript:logout()" style="color:hotpink; font-size: 18px" class="navbar-link">Logout</a>
                        </p>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row" style="font-family: monospace;">
        <div class="col-xs-4">
            <div class="pull-left">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="dropdown pull-right">
                <a href="/cart/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                    {{#if session.cart.totalItems }}
                    <span>({{session.cart.totalItems}})</span>
                    {{/if}}
                </a>
                {{#if session.cart.totalItems }}
                <div class="dropdown-menu">
                    <div class="cart">
                        {{# each session.cart.items }}
                        <div class="row">
                            <div class="col-xs-4">
                                {{ this.item.title }}
                            </div>
                            <div class="col-xs-4 text-right">
                                <span class="badge">{{ this.quantity }}</span>
                            </div>
                            <div class="col-xs-4 text-right">
                                {{ this.price }} CAD
                            </div>
                        </div>
                        {{/each}}
                        <div class="row">
                            <div class="text-right">
                                <div class="totalPrice">Total: {{ session.cart.totalPrice }} CAD</div>
                                <a href="/cart/" class="btn btn-success">Check Out</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{ else }}
                    <div class="dropdown-menu">
                        <div class="cart">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p style="text-align: center; margin: 100px; font-size: 12px; color: lightslategray">Your shopping cart is empty!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}

            </div>
        </div>
    </div>
</div>
<script>
      function logout() {
        if (confirm('Are you sure you want to logout?')) {
            window.location.href = '/logout'
        }
      }
</script>